@import 'tailwindcss';

@theme inline {
  /* Colors (converted from your config) */
  --color-surface-a: #f0e2c9;
  --color-surface-b: #fff4eb;
  --color-surface-subtle: #f3ebd9;

  --color-line: #faf5ec;
  --color-lineB: #d6d3d1;
  --color-lineC: #d97706;
  --color-primary: #2a2a2a;
  --color-secondary: #6c757d;
  --color-hint: #9ca3af;
  --color-accent: #2b7a78;
  --color-accent-blue: #2563eb;
  --color-error: #dc2626;
  --color-warning: #d97706;

  /* Spacing & Radius */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-64: 6.4rem;

  --radius-sm: 6px;
  --radius: 8px;
  --radius-lg: 1.2rem;

  /* fonts */
  --text-xs: 1.2rem;
  --text-xs--line-height: 1.4;
  --text-xs--font-weight: 400;
  --text-sm: 1.4rem;
  --text-sm--line-height: 1.45;
  --text-sm--font-weight: 400;
  --text-base: 1.6rem;
  --text-base--line-height: 1.5;
  --text-base--font-weight: 500;
  --text-md: 1.8rem;
  --text-md--line-height: 1.35;
  --text-md--font-weight: 500;
  --text-lg: 2rem;
  --text-lg--line-height: 1.3;
  --text-lg--font-weight: 500;
  --text-xl: 2.4rem;
  --text-xl--line-height: 1.2;
  --text-xl--font-weight: 500;
  --text-2xl: 3.2rem;
  --text-2xl--line-height: 1.15;
  --text-2xl--font-weight: 700;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  @apply flex flex-col bg-surface-subtle min-h-screen text-base text-primary  scroll-smooth;
}
*:focus {
  outline: none;
}

button:not(:disabled) {
  cursor: pointer;
}

dialog::backdrop {
  @apply bg-[black] opacity-50;
}
dialog.transparent::backdrop {
  @apply bg-[white] opacity-0;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.orangeBtn {
  @apply bg-radial-[at_center] from-[#FF8C52] to-[#FF6B4A];
}
